.nav ul {
  list-style-type: none;
  margin: 0;
}

.nav ul li {
  display: block;
  float: left;
  width: 120px;
  text-align: center;
  padding: 10px;
  color: white;
  font-weight: bold;
}

.nav ul li:hover {
  color: rgb(39, 174, 96);
  transform: scale(1.3);
}

.nav {
  position: sticky;
  top: 0;
  background-color: black;
}
